*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: blue;
    font-size: 3.6rem;
}

.carrousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrousel{
    width: 50%;
    position: relative;
}

.carrousel-item{
    position: absolute;
    max-height: 800px;
    overflow: hidden;
    visibility: hidden;
}
/* .image{
    position: absolute;
} */
img{
    
    width: 100%;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 2.6rem;
    backdrop-filter: blur(50px);
    z-index: 5;
    visibility: hidden;
}

.active{
   visibility: visible;
}
.lightboxBg{
    visibility: hidden;
    width: 80%;
    height: 100%;
    left: 10%;
    bottom: 5%;
    overflow: auto;
    background: rgba(161, 161, 161, 0.962);
    position:fixed;
}
.show{
    visibility: visible;
}
.lightboxContent{
    position: fixed;
    background: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
.lightboxContent img{
    width: 100%;
}
.close{
    color: rgb(12, 0, 0);
    font-size: 5rem;
    position:fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}