*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: blue;
    font-size: 3.6rem;
}

.carrousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrousel{
    width: 50%;
    position: relative;
}

.carrousel-item{
    position: absolute;
    max-height: 800px;
    overflow: hidden;
    visibility: hidden;
}

img{
    
    width: 100%;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 2.6rem;
    backdrop-filter: blur(50px);
    z-index: 5;
    visibility: hidden;
}

.active{
   visibility: visible;
}
#lightbox{
    position: fixed;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    background: rgba(161, 161, 161, 0.962);
    display: none;
}
   
#lightbox.show{
    display: flex; 
    align-items: center;
    justify-content: center;
}

.lightbox img{
    width: 70%;
}
.close{
    color: rgb(12, 0, 0);
    font-size: 5rem;
    position:fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}